@using Web.Models.Patient
@using Web.Helper

@model PatientDetailsVM

<form asp-controller="Patient" asp-action="AddEdit" method="post">
	<input type="hidden" asp-for="Details.PateintId" />

	<div class="row mb-3">
		<div asp-validation-summary="ModelOnly"></div>
	</div>
	<div class="row mb-3">
		<div class="col-12 col-sm-6">
			<label asp-for="Details.PatientUuid">Select the staff from registration</label>
			<select asp-for="Details.PatientUuid" id="PatientUuid" name="Details.PatientUuid" class="form-select @UniqueClass.SelectUser">
				<option value="" selected>Nothing selected</option>
				@foreach (var role in Model.UsersList)
				{
					<option value="@role.Value">@role.Text</option>
				}
			</select>
		</div>
		<div class="col-12 col-sm-6">
			<label asp-for="Details.InChargeuUud">Select In charge</label>
			<select asp-for="Details.InChargeuUud" id="InChargeuUud" name="Details.InChargeuUud" class="form-select">
				<option value="" selected>Nothing selected</option>
				@foreach (var role in Model.StaffList)
				{
					<option value="@role.Value">@role.Text</option>
				}
			</select>
		</div>
	</div>
	<div class="row mb-1">
		<div class="col-12" id="@ContainerId.UsersDetailsMini">
			
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12 col-sm-6">
			<div>
				<label asp-for="Details.DateOfBirth">Date of birth</label>
				<input asp-for="Details.DateOfBirth" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter date of birth" />
				<span asp-validation-for="Details.DateOfBirth" class="text-danger"></span>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div>
				<label asp-for="Details.Gender">Gender</label>
				<select asp-for="Details.Gender" id="Gender" name="Details.Gender" class="form-select">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
					<option value="Other">Other</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12 col-sm-6">
			<div>
				<label asp-for="Details.IdentityNo">Identity No</label>
				<input asp-for="Details.IdentityNo" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter identity number" />
				<span asp-validation-for="Details.IdentityNo" class="text-danger"></span>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div>
				<label asp-for="Details.WardNo">Ward No</label>
				<input asp-for="Details.IdentityNo" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter ward number" />
				<span asp-validation-for="Details.IdentityNo" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12">
			<label asp-for="Details.Comments">Comments</label>
			<textarea asp-for="Details.Comments" class="form-control" rows="3" autocomplete="email" aria-required="true" placeholder="Enter your comment"></textarea>
			<span asp-validation-for="Details.Comments" class="text-danger"></span>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12">
			<input asp-for="Details.IsDischarged" class="form-check-input" id="Details.IsDischarged">
			<label asp-for="Details.IsDischarged" class="form-check-label" for="Details.IsDischarged">Discharged</label>
		</div>
	</div>
</form>

@if (!string.IsNullOrEmpty(Model.Details.PatientUuid))
{
	<script>
		(function(){
			Controls.RelaodContainer('@Url.Action("UserDetailsMini", "User", new { id = Model.Details.PatientUuid })', '@ContainerId.UsersDetailsMini');
		})();
	</script>
}

<script>
	(function(){
		$('.@UniqueClass.SelectUser').change(function(){
			var value = $(this).val();
			Controls.RelaodContainer('@Url.Action("UserDetailsMini", "User")', '@ContainerId.UsersDetailsMini', { id: value });
		});
	})();
</script>