@using Web.Helper
@using Web.Models.Finance

@model StatementMainVM

@{
	ViewBag.Title = "Statement Details";
	var role = UserHelper.GetCurrentRole();
}

<div class="container-fluid p-0">

	<div class="mb-3">
		<h1 class="h3 d-inline align-middle">User Details</h1>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header d-flex justify-content-between align-content-between align-items-center flex-wrap">
					<div>
						<h5 class="card-title">Statement Details</h5>
						<h6 class="card-subtitle text-muted">
							Here you can manage your statement details.
						</h6>
					</div>
					<div>
						<div class="btn-group">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
									Choose Action
								</button>
								<ul class="dropdown-menu dropdown-menu-end">
									<li><a class="dropdown-item">Generate Report</a></li>
									<li><a class="dropdown-item" id="@ButtonId.StatementReloadTotal" data-id="@Model.Details.StatementId">Refresh Total</a></li>
									@if (role.IsAdmin || role.IsStaff)
									{
										<li><a class="dropdown-item" id="@ButtonId.StatementStatusEdit" data-id="@Model.Details.StatementId">Change Status</a></li>
									}
								</ul>
							</div>
							<a onclick="history.back()" class="btn btn-default">Back</a>
						</div>
					</div>
				</div>			
			</div>
		</div>
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div id="@ContainerId.UsersDetails">
					</div>
					<div id="@ContainerId.PatientDetails">
					</div>
					<div id="@ContainerId.StatementDetails">
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="mb-4 d-flex align-items-center justify-content-between flex-wrap">
						<h2 class="tab-title text-black">Statement Items (Expenses or Addons to the bill)</h2>
						@if (role.IsAdmin || role.IsStaff)
						{
							<button class="btn btn-primary" data-id="@Model.StatementId" id="@ButtonId.StatementItemAddNew">Add New Item</button>
						}
					</div>
					<div class="card-body" id="@ContainerId.StatementItemList">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
		<script>
			(function () {

				/**
				 * Load statement details
				 * Take the Url action to load partial and load the container
				 */
				var LoadAllDetails = function ()
				{
					Controls.RelaodContainer('@Url.Action("UserDetails", "User", new { id = Model.Details?.PatientUuid })', '@ContainerId.UsersDetails');
					Controls.RelaodContainer('@Url.Action("PatientDetails", "Patient", new { id = Model.Details?.PatientUuid })', '@ContainerId.PatientDetails');
					Controls.RelaodContainer('@Url.Action("StatementDetails", "Finance", new { id = Model.Details?.StatementId })', '@ContainerId.StatementDetails');
					Controls.RelaodContainer('@Url.Action("ItemList", "Finance", new { id = Model.Details?.StatementId })', '@ContainerId.StatementItemList');
				}

				/**
				 * Open edit user pop-up when click edit button
				 * Take the Url action to load partial and Open the bootstrap modal
				 */
				var EditRegistration =  function()
				{
					var id  = $(this).attr("data-id");
					var url = `@Url.Action("AddEdit", "User")?id=${id}`;

					Controls.OpenPopUpModal(url, "@UniqueIdentifier.MainModelId", "Update Registration");
				}

				/**
				 * Open patient pop-up when click edit button
				 * Take the Url action to load partial and Open the bootstrap modal
				 */
				var EditPatient = function()
				{
					var id  = $(this).attr("data-id");
					var url = `@Url.Action("AddEdit", "Patient")?id=${id}`;

					Controls.OpenPopUpModal(url, "@UniqueIdentifier.MainModelId", "Update Patient Details");
				}

				/**
				 * Open statement pop-up when click edit button
				 * Take the Url action to load partial and Open the bootstrap modal
				 */
				var EditStatement = function()
				{
					var id  = $(this).attr("data-id");
					var url = `@Url.Action("AddEdit", "Finance")?id=${id}`;

					Controls.OpenPopUpModal(url, "@UniqueIdentifier.MainModelId", "Update Statement Details");
				}

				/**
				 * Open statement pop-up when click status change button
				 * Take the Url action to load partial and Open the bootstrap modal
				 */
				var EditStatus = function()
				{
					var id  = $(this).attr("data-id");

					var url = `@Url.Action("AddEdit", "Finance")?id=${id}&isStatus=true`;

					Controls.OpenPopUpModal(url, "@UniqueIdentifier.MainModelId", "Update Status");
				}

				/**
				 * Open statement pop-up when click add new item button
				 * Take the Url action to load partial and Open the bootstrap modal
				 */
				var AddItem = function()
				{
					var id  = $(this).attr("data-id");
					var url = `@Url.Action("AddItem", "Finance")?id=${id}`;

					Controls.OpenPopUpModal(url, "@UniqueIdentifier.MainModelId", "Add New Item");
				}

				/**
				 * Open statement pop-up when click delete item button
				 * Take the Url action to load partial and Open the bootstrap modal
				 */
				var DeleteItem = function()
				{
					var id  = $(this).attr("data-id");
					var url = `@Url.Action("DeleteItem", "Finance")?id=${id}`;

					Controls.OpenPopUpModal(url, "@UniqueIdentifier.MainModelId", "Add New Item", "Delete", "btn-danger");
				}


				/**
				 * Submit the form via ajax and close the main modal
				 */
				var SubmitModalForm = function()
				{
					var form = $(this).closest('.modal').find('.modal-body form');

					Controls.RelaodContainerOnModalPost("@UniqueIdentifier.MainModelId", form, '@ContainerId.StatementDetails', LoadAllDetails);
				}


				/**
				 * Open statement pop-up when click delete item button
				 * Take the Url action to load partial and Open the bootstrap modal
				 */
				var RefreshTotal = function ()
				{
					var id  = $(this).attr("data-id");
					var url = `@Url.Action("RefreshTotal", "Finance")?id=${id}`

					Controls.RelaodVoid(url);
				}

				// Handle events
				$(document).ready(LoadAllDetails);
				$(document).on('click', '#@ButtonId.StatementEdit', EditStatement);
				$(document).on('click', '#@ButtonId.StatementStatusEdit', EditStatus);
				$(document).on('click', '#@ButtonId.UserEdit', EditRegistration);
				$(document).on('click', '#@ButtonId.StatementReloadTotal', RefreshTotal);
				$(document).on('click', '#@ButtonId.StatementItemAddNew', AddItem);
				$(document).on('click', '.@ButtonClass.StatementItemDelete', DeleteItem);
				$(document).on('click', '.@ButtonClass.MainModalSubmit', SubmitModalForm);
			})();
		</script>
}