@using Web.Models.Finance
@using Web.Helper
@using DbLayer.Helpers

@model StatementVM

@{
	var role = UserHelper.GetCurrentRole();
}


<style>
	.tbl-user-details td {
		padding: 10px;
		font-size: 16px;
	}

	.tbl-os-details td{
		padding: 5px;
		font-size: 11px;
	}
</style>

<div>
	<div class="mb-4 d-flex align-items-center justify-content-between flex-wrap">
		<h2 class="tab-title text-black">Statement Informations</h2>
		@if (role.IsAdmin || role.IsStaff)
		{
			<button class="btn btn-primary" data-id="@Model.StatementId" data-patient-uuid="@Model.PatientUuid" id="@ButtonId.StatementEdit">Edit</button>
		}
	</div>
	<div class="">
		<div class="row">			
			<div class="col-12 col-md-6">
				<div class="row">
					<div class="col-12 col-lg-6">
						<table class="w-100 tbl-user-details">
							<tr>
								<td>Id</td>
								<td>:</td>
								<td>@Model.StatementId.PropString()</td>
							</tr>
							<tr>
								<td>Description</td>
								<td>:</td>
								<td>@Model.Description.PropString()</td>
							</tr>
							<tr>
								<td>Total</td>
								<td>:</td>
								<td>@Model.TotalCost.PropString()</td>
							</tr>
							<tr>
								<td>Identity number</td>
								<td>:</td>
								<td>
									@if (Model.OsStatus?.Status == nameof(StatementOS.Paid))
									{
										<span class="badge rounded-pill bg-success">@Model.OsStatus?.Status</span>
									}
									else
									{
										<span class="badge rounded-pill bg-secondary">@Model.OsStatus?.Status.PropString()</span>
									}
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="card p-3">
					<h2 class="tab-title text-black">Os Details</h2>
					<div class="row mt-2">
						<div class="col-12 col-md-6">
							<div>
								<p class="m-0 mb-1 fw-bold">Added by</p>
								<p><small>@Model.AddedByName.PropString()</small></p>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div>
								<p class="m-0 mb-1 fw-bold">Updated by</p>
								<p><small>@Model.AddedByName.PropString()</small></p>
							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-12 col-md-6">
							<div>
								<p class="m-0 mb-1 fw-bold">Added date</p>
								<p><small>@Model.AddedDate.PropString()</small></p>
							</div>
						</div>
						<div class="col-12 col-md-6">					
							<div>
								<p class="m-0 mb-1 fw-bold">Updated date</p>
								<p><small>@Model.UpdatedDate.PropString()</small></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>