@using Web.Models.Finance
@using Web.Helper
@using DbLayer.Helpers

@model List<StatementVM>

<div class="mb-4 d-flex align-items-center justify-content-between flex-wrap">
	<h2 class="tab-title text-black">Statements</h2>
</div>

<table id="@TableId.StatementsList" class="table table-striped w-100">
	<thead>
		<tr>
			<th>Id</th>
			<th>Patient</th>
			<th>Description</th>
			<th>Status</th>
			<th>Added by</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Any())
		{
			@foreach (var type in Model)
			{
				<tr>
					<td>@type.StatementId</td>
					<td>@type.Patient?.FullName.PropString()</td>
					<td>@type.Description.PropString()</td>
					<td>
						@if (type.OsStatus?.Status == nameof(StatementOS.Paid))
						{
							<span class="badge rounded-pill bg-success">@type.OsStatus?.Status</span>
						}
						else
						{
							<span class="badge rounded-pill bg-secondary">@type.OsStatus?.Status.PropString()</span>
						}
					</td>
					<td>
						<p class="m-0">@type.AddedByName.PropString()</p>
						<p class="m-0 text-secondary"><small>@type.AddedDate.PropString()</small></p>
					</td>
					<td>
						<a data-id="@type.StatementId" class="p-1 @ButtonClass.StatementEdit text-secondary"><i class="align-middle" data-feather="edit-2"></i></a>
						<a asp-action="Details" asp-route-id="@type.StatementId"><i class="align-middle" data-feather="eye"></i></a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<script>
	(function () {
		Controls.InitiateDataTable('@TableId.StatementsList');
	})();
</script>