@using Web.Models.Patient
@using Web.Helper

@model PatientVM

@{
	var role = UserHelper.GetCurrentRole();
}

<style>
	.tbl-user-details td {
		padding: 10px;
		font-size: 16px;
	}

	.tbl-os-details td{
		padding: 5px;
		font-size: 11px;
	}
</style>

<div>
	<div class="mb-4 d-flex align-items-center justify-content-between flex-wrap">
		<h2 class="tab-title text-black">Patient Informations</h2>
		@if(role.IsAdmin || role.IsStaff)
		{
			<button class="btn btn-primary" data-id="@Model.PatientUuid" id="@ButtonId.PatientEdit">Edit</button>
		}
	</div>
	<div class="">
		<div class="row">			
			<div class="col-12 col-md-8">
				<div class="row">
					<div class="col-12 col-lg-6">
						<table class="w-100 tbl-user-details">
							<tr>
								<td>Date of birth</td>
								<td>:</td>
								<td>@Model.DateOfBirth.PropString()</td>
							</tr>
							<tr>
								<td>Gender</td>
								<td>:</td>
								<td>@Model.Gender.PropString()</td>
							</tr>
							<tr>
								<td>Identity number</td>
								<td>:</td>
								<td>@Model.IdentityNo.PropString()</td>
							</tr>
							<tr>
								<td>Ward No</td>
								<td>:</td>
								<td>@Model.WardNo.PropString()</td>
							</tr>
						</table>
					</div>
					<div class="col-12 col-lg-6">
						<table class="w-100 tbl-user-details">
							<tr>
								<td>In-Charge</td>
								<td>:</td>
								<td>@(Model.Staff?.FirstName.PropString() ?? "-") @Model.Staff?.LastName</td>
							</tr>
							<tr>
								<td>Total Cost</td>
								<td>:</td>
								<td>@Model.TotalCost.PropString()</td>
							</tr>
							<tr>
								<td>Comment</td>
								<td>:</td>
								<td>@Model.Comments.PropString()</td>
							</tr>
							<tr>
								<td>Status</td>
								<td>:</td>
								<td>
									@if (Model.IsDischarged)
									{
										<span class="badge rounded-pill bg-success">Discharged</span>
									}
									else
									{
										<span class="badge rounded-pill bg-danger">In Ward</span>
									}
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="card p-3">
					<h2 class="tab-title text-black">Os Details</h2>
					<div class="row mt-2">
						<div class="col-12 col-md-6">
							<div>
								<p class="m-0 mb-1 fw-bold">Added by</p>
								<p><small>@Model.AddedByName.PropString()</small></p>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div>
								<p class="m-0 mb-1 fw-bold">Updated by</p>
								<p><small>@Model.AddedByName.PropString()</small></p>
							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-12 col-md-6">
							<div>
								<p class="m-0 mb-1 fw-bold">Added date</p>
								<p><small>@Model.AddedDate.PropString()</small></p>
							</div>
						</div>
						<div class="col-12 col-md-6">					
							<div>
								<p class="m-0 mb-1 fw-bold">Updated date</p>
								<p><small>@Model.UpdatedDate.PropString()</small></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>