@using Web.Helper

@{
	var currentUser = UserHelper.GetCurrentUser();
}

<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="index.html">
			<span class="sidebar-brand-text gap-2 d-flex align-items-center justify-content-center">
				<span>HealthCare</span>
				<small class="badge bg-primary text-uppercase">IMS</small>
			</span>
			<svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewbox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
				<path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
				<path d="M20 12L12 16L4 12"></path>
				<path d="M20 16L12 20L4 16"></path>
			</svg>
		</a>

		<div class="sidebar-user">
			<div class="d-flex justify-content-center">
				<div class="flex-shrink-0">
					@if (string.IsNullOrEmpty(currentUser.ProfilePicPath))
					{
						<img src="~/img/general/new-unknown-pic.jpeg" class="avatar img-fluid rounded-circle me-1 @UniqueClass.ProfilePic" alt="profile pic">
					}
					else
					{
						<img src="@currentUser.ProfilePicPath" class="avatar img-fluid rounded-circle me-1 @UniqueClass.ProfilePic" alt="profile pic">
					}
				</div>
				<div class="flex-grow-1 ps-2">
					<a class="sidebar-user-title">@currentUser.FullName</a>
					<div class="sidebar-user-subtitle">
						@if (currentUser.Roles.Any())
						{
							@for (var i= 0; i < currentUser.Roles.Count; i++)
							{
								<span>@currentUser.Roles[i]</span>
								@if(currentUser.Roles.Count > 1 && i != currentUser.Roles.Count-1)
								{
									<span>,</span>
								}
							}
						}
						else
						{
							<small><i>No roles assigned</i></small>
						}
					</div>
				</div>
			</div>
		</div>

		<ul class="sidebar-nav">

			@*----- Home Menu items -----*@
			<li class="sidebar-header">
				Home
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" asp-controller="Home" asp-action="Index">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" asp-controller="Home" asp-action="Profile">
					<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
				</a>
			</li>
			
			@*----- Home Menu items -----*@
			<li class="sidebar-header">
				Pages
			</li>
			<li class="sidebar-item">
				<a data-bs-target="#patients" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="heart"></i> <span class="align-middle">Patients</span>
				</a>
				<ul id="patients" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" asp-controller="Patient" asp-action="Index">Home</a></li>
					<li class="sidebar-item"><a class="sidebar-link" asp-controller="Patient" asp-action="Conditions">Diseases</a></li>
				</ul>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" asp-controller="Images" asp-action="Index">
					<i class="align-middle" data-feather="image"></i> <span class="align-middle">Images</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" asp-controller="Finaincial" asp-action="Index">
					<i class="align-middle" data-feather="dollar-sign"></i> <span class="align-middle">Financials</span>
				</a>
			</li>

			@*----- Addvanced Menu items -----*@
			<li class="sidebar-header">
				Advanced
			</li>			
			<li class="sidebar-item">
				<a data-bs-target="#system" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="database"></i>
					<span class="align-middle">System</span>
				</a>
				<ul id="system" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" asp-controller="Role" asp-action="Index">Roles</a></li>
					<li class="sidebar-item"><a class="sidebar-link" asp-controller="User" asp-action="Index">Users</a></li>
				</ul>
			</li>
			<li class="sidebar-item">
				<a data-bs-target="#settings" data-bs-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="settings"></i>
					<span class="align-middle">Settings</span>
				</a>
				<ul id="settings" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" asp-controller="Setting" asp-action="Index">Image Types</a></li>
					<li class="sidebar-item"><a class="sidebar-link" asp-controller="Setting" asp-action="Index">Diseases Types</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>		