@using Web.Models.Staff
@using Web.Helper

@model List<StaffVM>

<table id="@TableId.StaffsList" class="table table-striped w-100">
	<thead>
		<tr>
			<th>Id</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Designation</th>
			<th>Phone no</th>
			<th>Added by</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Any())
		{
			@foreach (var type in Model)
			{
				<tr>
					<td>@type.StaffId</td>
					<td>@type.FirstName.PropString()</td>
					<td>@type.LastName.PropString()</td>
					<td>@type.PhoneNo.PropString()</td>
					<td>@type.Designation.PropString()</td>
					<td>
						<p class="m-0">@type.AddedByName.PropString()</p>
						<p class="m-0 text-secondary"><small>@type.AddedDate.PropString()</small></p>
					</td>
					<td>
						<a data-id="@type.StaffUuid" class="p-1 @ButtonClass.StaffEdit text-secondary"><i class="align-middle" data-feather="edit-2"></i></a>
						<a asp-action="Details" asp-route-id="@type.StaffUuid"><i class="align-middle" data-feather="eye"></i></a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<script>
	(function () {
		Controls.InitiateDataTable('@TableId.StaffsList');
	})();
</script>