@using Web.Helper
@using Web.Models.Home

@model DashboardVM

@{
	ViewBag.Title   = "Home";
	var currentUser = UserHelper.GetCurrentUser();
	var role        = UserHelper.GetCurrentRole();

	string GetRole()
	{
		if (role.IsAdmin)
			return "Admin";
		else if (role.IsPatient)
			return "Patient";
		else
			return "Staff";
	}
}

<div class="container-fluid p-0">

	<div class="row mb-2 mb-xl-3">
		<div class="col-auto d-none d-sm-block">
			<h3>@GetRole() Dashboard</h3>
		</div>
	</div>

	@if(role.IsAdmin)
	{
		@await Html.PartialAsync("Containers/_AdminDashboard", Model)
	}
	else if(role.IsStaff)
	{
		@await Html.PartialAsync("Containers/_StaffDashboard", Model)
	}
	else
	{
		@await Html.PartialAsync("Containers/_PatientDashboard", Model)
	}
</div>

@section scripts {


	@*----- Calender render -----*@
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var date = new Date(Date.now() - 5 * 24 * 60 * 60 * 1000);
			var defaultDate = date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,
				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
				defaultDate: defaultDate
			});
		});
	</script>


	@*---- Chart render ----*@
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Doughnut chart
			new Chart(document.getElementById("chartjs-dashboard-pie"), {
				type: "doughnut",
				data: {
					labels: ["Active", "Discharged"],
					datasets: [{
						data: [
							@Model.TotalActivePatients,
							@Model.TotalDischargedPatients
						],
						backgroundColor: [
							"#cfe2ff",
							"#f8d7da"
						],
						borderWidth: 5,
						borderColor: "#fff"
					}]
				},
				options: {
					responsive: true,
					maintainAspectRatio: false,
					plugins: {
						legend: {
							display: false 
						}
					},
					cutoutPercentage: 70
				}
			});

			// Bar Chart
			new Chart(document.getElementById("chartjs-dashboard-bar"), {
				type: "bar",
				data: {
					labels: ["Active Users", "Admins", "Staffs", "Patients"],
					datasets: [{
						data: [
							@Model.TotalActiveUsers,
							@Model.TotalAdmins,
							@Model.TotalStaffs,
							@Model.TotalPatients
						],
						backgroundColor: [
							"#cfe2ff",
							"#d1e7dd",
							"#fff3cd",
							"#f8d7da"
						],
						borderWidth: 1,
						borderColor: "#fff"
					}]
				},
				options: {
					responsive: true,
					maintainAspectRatio: false,
					plugins: {
						legend: {
							display: false 
						},
						tooltip: {
							enabled: true
						}
					}
				}
			});
		});		
	</script>
}