@using Web.Models.Finance
@using Web.Helper

@model ItemDetailsVM


<form asp-controller="Finance" asp-action="AddItem" method="post">
	<input type="hidden" asp-for="ItemDetails.StatementItemId" />
	<input type="hidden" asp-for="ItemDetails.StatementId" />

	<div class="row mb-3">
		<div asp-validation-summary="ModelOnly"></div>
	</div>
	<div class="row mb-3">
		<div class="col-12">
			<label asp-for="ItemDetails.DiseaseId" class="@FormHelper.lblRequired">Select the Disease</label>
			<select asp-for="ItemDetails.DiseaseId" id="DiseaseId" name="ItemDetails.DiseaseId" class="form-select">
				<option value="" selected>Nothing selected</option>
				@foreach (var role in Model.DiseaseList)
				{
					<option value="@role.Value">@role.Text</option>
				}
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12">
			<label asp-for="ItemDetails.Description" class="@FormHelper.lblRequired">Description</label>
			<textarea asp-for="ItemDetails.Description" class="form-control" rows="3" autocomplete="description" aria-required="true" placeholder="Enter the description"></textarea>
			<span asp-validation-for="ItemDetails.Description" class="text-danger"></span>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-12">
			<div>
				<label asp-for="ItemDetails.TotalCost" class="@FormHelper.lblRequired">Total Cost</label>
				<input asp-for="ItemDetails.TotalCost" class="form-control" autocomplete="total cost" aria-required="true" placeholder="Enter total cost of item" />
				<span asp-validation-for="ItemDetails.TotalCost" class="text-danger"></span>
			</div>
		</div>
	</div>
</form>